@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    *::-webkit-scrollbar {
        display: none;
    }
    * {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

body {
    background-color: #D2DCD9;
    border-color: #121625;
    background-image: linear-gradient( 68.4deg,  #C691A2 0.5%, #A0A9BA 49%, #D2DCD9 99.8% );
}
